body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.map-background {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: right;
  height: 50%;
  margin-bottom: 0;
  text-align: center;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center;
}
h1 {
  font-weight: bold;
}

.spacer {
  height: 350px;
  background-color: #FF866D;
  padding-top: 150px;
  color: white;
}

.team-row {
  margin-bottom: 50px;
  /*background-color: #67191c;*/
}

.glint-team {
  width: 90%;
  margin: 0 auto;
}


img.team-members {
  width: 100%;
}

.visit-button {
  margin-top: 10px;
  color: #333;
  border: 1px solid #333 !important;
}


.visit-button:hover {
  color: white !important;
  border: 1px solid white !important;
  background-color: #333 !important;
}

a.btn.btn-outline-inverse.btn-lg.visit-button:visited {
  color: white;
}

.github-buttons {
  padding-left: 44px;
}

.footer-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #67191c;
}

.fa:hover {
  color: #67191c;
}

.fa-github {
  color: white;
}

.fa-github:hover {
  color: black;
}

.navbar-bottom {
  margin: 0 !important;
  background-color: #046380 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

img.logo {
  max-width: 30%;
}
